.app {
    text-align: center;
}

.title {
    color: rgba(175, 47, 47, 0.15);
    font-size: 73px;
}

/*input.new-todo {*/
    /*padding: 16px 16px 16px 60px;*/
    /*border-color: rgba(0, 0, 0, 0.03);*/
    /*width: 100%;*/
    /*background-color: white;*/
/*}*/
